body{
    background-color:#000;
}
@font-face {
    font-family:Digital;
    src:url(fonts/ClockDigital.ttf);
}
@font-face {
    font-family:YorkWhite;
    src:url(fonts/yorkwhiteletter.ttf);
}
@font-face {
    font-family:Party;
    src:url(fonts/party.ttf);
}
@font-face {
    font-family:Jiggler;
    src:url(fonts/budmo.ttf);
}
form{
    margin-bottom: 0;
}
#spec-logo{
    position: relative;
    left: 50%;
    margin-left: -282px;
    width: 564px;
    display: inline-block;
    text-align: center;
}

#logo{
    font-family: YorkWhite;
    display: inline;
    text-align: center;
    height:75px;
    font-size: 70px;
    line-height: 73px;
    background-color: #fff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
#wraper{padding: 5% 0;}

#login {
    text-align: center;
    padding: 20%;
    }
.cell{
    position: relative;
    top: 35px;
    left: 37px;
    display: inline-block;
    text-align: center;
    border:6px solid #000;
    height: 268px;
    width: 150px;
    float: left;
    background-color: #fff;
    overflow: hidden;
}
.topping{
    height: 66px;
    border-bottom:3px solid #000;
}
.cell-top {
    color:#FF0000;
    margin: 0px;
    line-height: 32px;
    font-family:Party,Jiggler;
    font-size: 30px;
    display: block;
}
#second{
    position:relative;
    top: 25%;
}
#first{
    position:relative;
    top: 25%;
}
#balance {
    position: absolute;
    top: 467px;
    left: 31%;
    display: inline-block;
    border:6px solid #000;
    text-align: left;
    font-family:Digital;
    color: #000;
    background-color: #fff;
    float: left;

}
.slotMachine{
    border-top:3px solid #000;
    border-bottom:3px solid #000;
    height: 144px;
    margin-top: 25px;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}
.spinner{
    font-family: Arial;
    height: 140px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 0px;
    text-decoration: none;
    color: #000;
}
#dropzone{
    background-image: url('images/Upload-Icon.png');
    background-repeat: no-repeat;
    background-size:cover;
}
#download-spin{
    background-image: url('images/Download-Icon.png');
    background-repeat: no-repeat;
    background-size:cover;
}
#gold-ticket{
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.insider{

    position: relative;
    height: 100%;
    font-size: 30px;
    display: block;
    text-decoration: none;
    color: #000;
}
#start{
    border:5px solid #000;
    display: inline-block;
    position: absolute;
    top: 357px;
    left:25px;
    width: 100px;
    height: 80px;
    font-family: Arial;
    color: #ff0000;
    font-size: 28px;
    line-height: 26px;
    background-color:#fff;
    box-shadow: inset 0 -5px #000; 
}
#start:active{
    box-shadow: inset 0 5px #a0a0a0;
    padding-top: 5px;
}
#drop-here{
    top:0%!important;
}
.give-coins{
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    vertical-align: baseline;
}

#balance h2{
    display: inline-block;
}

#money {
    display: inline;
}


#cash-container{
    position:relative;
    left: 50%;
    margin-left: -284px;
    display: block;
    background: #000;
    background-image: url('images/slot.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 650px;
    width:640px;

}

.n1{
    background-image: url('images/linux.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.n2{
    background-image: url('images/heartbleed.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.n3{
    background-image: url('images/guyfox.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.n4{
    background-image: url('images/bitcoin.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.n5{
    background-image: url('images/slowpoke.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.n6{
    background-image: url('images/zeronights2014.png');
    background-repeat: no-repeat;
    background-size:cover;
}
